.App{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 740px;
  text-align: center;
  padding:0.25rem;
  box-shadow: 2px 2px 8px black;
  background-color: white;
}

.box button{
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.box p{
  margin-right: 0.5rem;
}
